
@font-face {
  font-family: 'Corbert Black';
  src: url('/static/fonts/Corbert_Black.otf') format('opentype');
}

@font-face {
  font-family: 'Almarose';
  src: url('/static/fonts/Almarose_Medium.otf') format('opentype');
}

body, html{
  height: 100%;
}

body{
  font-family: 'Corbert Black';
  background-color: #fff;
  color: #403e4b;
  overflow: hidden;
}

h1, h2{
  font-family: 'Corbert Black';
}

p, span, a{
  font-family: 'Almarose';
}

#btn{
  background-color: #256215; 
  color: white;
  font-family: 'Corbert Black';
  transition: 0.3s ease-in-out;
}

#btn:hover{
  background-color: #f6df30;
  box-shadow: 0 3px 3px rgba(227, 159, 41, 0.6);
}

.alt-text{
  font-size: 2.0vmin; 
}

.alt-text span{
  color: #bac5c6;
}

.slide{ 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.card{
  width: 100vw;
  height: 100vh;
  display: flex;
  background-color: #fff;
  margin: 0;
  align-items: center;
}

.card__img{
  background-position: center;
  width: 50%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;  
}

#img02{
  background-image: url("https://media.istockphoto.com/id/1426365098/photo/bank-teller-counting-money-for-customer.jpg?s=612x612&w=0&k=20&c=OpQu1jUYoJj30igBMys0e9BZ-uThHmMLMiJbWfv9UzQ=")
}

#img01{
  background-image: url("https://images.unsplash.com/photo-1501167786227-4cba60f6d58f?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8YmFua3xlbnwwfHwwfHx8MA%3D%3D");
}

.card__content{
  padding: 10% 5%;
  box-sizing: border-box;
  width: 50%;
  text-align: center;
}

.card__content-theme{
  font-weight: 900;
  font-size: 2.7vmin; 
}

.card__content-header{
  font-weight: 900;
  font-size: 54px;
  font-size: 7vmin;
  text-transform: capitalize;
  letter-spacing: 0.01em;
  line-height: 0.91;
  margin: 3vmin 0 3.5vmin;  
}

.card__content-paragraph{
  font-size: 1.6vmin;
  line-height: 1.7;
  font-weight: 300;
  margin-bottom: 2.5vmin;
}

.card__content-link{
  color: #BA3428;
  font-size: 1.8vmin;
  display: block;
  cursor: pointer;
  opacity: 0.7;
  transition: opacity 0.3s ease;
}
